<!DOCTYPE html>
<html lang="en">

<head>
    {{head|safe}}
    <title>About Us</title>
</head>

<body>
    {{menu|safe}}
    <div class="menu">
        <div class="container">
            <h1 class="center">About Us</h1>
            <div class="card-profile">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/img/felix.jpeg" alt="Felix Setiawan" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h2>Felix Setiawan</h2>
                            <p>32190034</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/img/reynaldo.jpeg" alt="Reynaldo Krisno"
                                style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h2>Reynaldo Krisno</h2>
                            <p>32190097</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../static/img/samuel.jpeg" alt="Samuel Sulianto"
                                style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h2>Samuel Sulianto</h2>
                            <p>32190052</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{footer|safe}}
</body>

</html>